/* ==General settings of web page== */
html{
  height: 600px;
  width: 400px;
}
main {
  display: flex;

}
.left-side{
  width: 70%;
  /* float:left; */
  flex-grow: 0;
  flex-shrink: 0;
  flex-basis:80%;
  padding-right: 15px;
}

.right-side {
  width: 20%;
  float:right;
  margin-top: 15px;
  border: 2px solid black;
  text-align: center;
  font-size: 10px;

}
.descriptions{
  border: 2px solid black;
  padding-left: 5px;
  padding-top: 5px;
}
.courses-table{
  border: 2px solid black;
}
.comments{
  border: 2px solid black;
}
.formsection{
  border: 2px solid black;
  padding: auto;
  margin: 0 auto;

 /* border for form unit */
 border-radius: 1em;

}

.border-setup{
  border: 2px solid black;
}

form.my-form {
    display: table;
}

div.my-form {
    display: table-row;


}
.padding-question{


}
.question-textarea{


}
label, input {
    display: table-cell;


}
.form-padding{
  padding: 5px;
}


body {
  min-height: 100%;
  background-color: white;
}

header{
  border: 2px solid black;
  display: flex;

}
h1{
  margin-left: 15px;
}

nav{
  border: 1px solid black;
  margin-left:auto;
  margin-right: 5px;
  margin-top: 5px;
  margin-bottom: 5px;
  float:right;
  width: 40%;menu css
}

ul{
 justify-content: space-between;
 display: flex;
 text-align: center;

}

li{
  text-align: center;
  list-style: none;
  margin:auto;
}

.stop-float{
  content: "";
  clear: both;
}
.codes{
  border: 2px solid black;
}
.inline{
  border: 2px solid black;
  display: flex;
  justify-content: space-between;
  justify-content: space-around;
}
.codes{
  text-align:center;
}

/* table arrangement */
#my_table {
  table-layout: fixed;
  width: 100%;
  border-collapse: separate;
  /* border: 3px solid black; */

}

th {
  border: solid;
  padding: 5px;
  text-align: center;
}


td {
  border: solid;
  padding: 5px;
  text-align: center;
  color: #ae1b0a;
}
